body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  background-color: coral;
  border: 2px solid darkslategrey;
}

h1 {
  font-weight: normal;
  color: darkblue;
  background-color: darkgoldenrod;
  margin: 0rem;
  padding: 1rem;
  border: 3px solid darkorange;
}
h2 {
  margin: 0rem;
}
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
a {
  color: rebeccapurple;
  text-decoration: none;
}
a:hover {
  color: hotpink;
}
img {
  display: block;
  margin: auto;
}
#lofi {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
}
#wrapper {
  width: 85%;
  margin: auto;
}
